<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profile-container">
    <ion-avatar class="profile-avatar" (click)="mostrarOpcionesFoto()">
      <img [src]="fotoPerfil" alt="Foto de perfil">
    </ion-avatar>
    <p>Toca la imagen para cambiar la foto de perfil</p>
  </div>

  <form *ngIf="modoEdicion" (ngSubmit)="guardarPerfil()">
    <ion-item [class.invalid]="errores['nombre']">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="nombrePerfil" name="nombre"></ion-input>
    </ion-item>

    <ion-item [class.invalid]="errores['apellidoPaterno']">
      <ion-label position="floating">Apellido Paterno</ion-label>
      <ion-input type="text" [(ngModel)]="apellidoPaterno" name="apellidoPaterno"></ion-input>
    </ion-item>

    <ion-item [class.invalid]="errores['apellidoMaterno']">
      <ion-label position="floating">Apellido Materno</ion-label>
      <ion-input type="text" [(ngModel)]="apellidoMaterno" name="apellidoMaterno"></ion-input>
    </ion-item>

    <ion-item [class.invalid]="errores['telefono']">
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input type="tel" [(ngModel)]="telefonoPerfil" name="telefono"
        (ionInput)="validarTelefono($event)"></ion-input>
    </ion-item>

    <ion-item [class.invalid]="errores['correo']">
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="correoPerfil" name="correo"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Guardar Cambios</ion-button>
  </form>

  <ion-button expand="full" color="medium" *ngIf="!modoEdicion" (click)="habilitarEdicion()">
    Editar Perfil
  </ion-button>

  <input type="file" #fileInput (change)="cargarImagen($event)" hidden>

  <ion-button expand="full" color="danger" (click)="navigateToTab4()">Cancelar</ion-button>
</ion-content>