<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>💳 login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <!-- Campo de Correo Electrónico -->
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="email" (ionInput)="validateForm()"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="emailError">{{ emailError }}</ion-text>

      <!-- Campo de Contraseña -->
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password" (ionInput)="validateForm()"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="passwordError">{{ passwordError }}</ion-text>

      <!-- Botones -->
      <ion-button expand="full" (click)="login()" [disabled]="!isValidForm">Iniciar Sesión</ion-button>
      <ion-button expand="full" color="secondary" (click)="register()">Registrarse</ion-button>

      <hr>

      <!-- Iniciar sesión con Google -->
      <ion-button expand="full" color="danger" (click)="loginWithGoogle()">
        <ion-icon name="logo-google" slot="start"></ion-icon>
        Iniciar con Google
      </ion-button>

      <!-- Iniciar sesión con Facebook -->
      <ion-button expand="full" color="primary" (click)="loginWithFacebook()">
        <ion-icon name="logo-facebook" slot="start"></ion-icon>
        Iniciar con Facebook
      </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>